workflow.json
{
  "name": "Lumière Studio — AI Lead Qualifier",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "WEBHOOK_SECRET",
              "value": "PASTE_YOUR_WEBHOOK_SECRET_HERE"
            },
            {
              "name": "GEMINI_API_KEY",
              "value": "PASTE_YOUR_GEMINI_API_KEY_HERE"
            },
            {
              "name": "AI_SYSTEM_PROMPT",
              "value": "PASTE_FULL_SYSTEM_PROMPT_FROM_TEXT_FILE_HERE"
            },
            {
              "name": "SUPABASE_URL",
              "value": "PASTE_YOUR_SUPABASE_URL_HERE"
            },
            {
              "name": "SUPABASE_SERVICE_KEY",
              "value": "PASTE_YOUR_SUPABASE_SERVICE_KEY_HERE"
            },
            {
              "name": "OWNER_EMAIL",
              "value": "PASTE_YOUR_EMAIL_HERE"
            },
            {
              "name": "SMTP_USER",
              "value": "PASTE_YOUR_SMTP_USER_HERE"
            },
            {
              "name": "WHATSAPP_PHONE_NUMBER_ID",
              "value": "PASTE_YOUR_WHATSAPP_PHONE_ID_HERE"
            },
            {
              "name": "WHATSAPP_ACCESS_TOKEN",
              "value": "PASTE_YOUR_WHATSAPP_TOKEN_HERE"
            },
            {
              "name": "OWNER_PHONE",
              "value": "PASTE_YOUR_PHONE_NUMBER_HERE"
            }
          ]
        },
        "options": {}
      },
      "name": "Global Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lumiere-studio",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Security check — always the first thing executed\nconst incoming = $json.webhookSecret;\nconst expected = $node[\"Global Config\"].json.WEBHOOK_SECRET;\n\nif (!incoming || incoming !== expected) {\n  return [{ json: { error: \"Unauthorized\", status: 401 } }];\n}\n\n// Strip the secret and config from the payload before passing downstream\nconst { \n  webhookSecret, \n  WEBHOOK_SECRET, \n  GEMINI_API_KEY, \n  AI_SYSTEM_PROMPT, \n  SUPABASE_URL, \n  SUPABASE_SERVICE_KEY, \n  OWNER_EMAIL, \n  SMTP_USER, \n  WHATSAPP_PHONE_NUMBER_ID, \n  WHATSAPP_ACCESS_TOKEN, \n  OWNER_PHONE, \n  ...safePayload \n} = $json;\n\nreturn [{ json: safePayload }];"
      },
      "name": "Security Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.error}}",
              "value2": "Unauthorized"
            }
          ]
        }
      },
      "name": "Is Unauthorized?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.intent}}",
        "rules": {
          "rules": [
            {
              "value2": "public_enquiry"
            },
            {
              "value2": "admin_auth",
              "output": 1
            },
            {
              "value2": "admin_read",
              "output": 2
            },
            {
              "value2": "admin_write",
              "output": 3
            }
          ]
        }
      },
      "name": "Intent Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{$node[\"Global Config\"].json.GEMINI_API_KEY}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"{{$node[\\\"Global Config\\\"].json.AI_SYSTEM_PROMPT}}\\n\\nInput Data: {{JSON.stringify($json)}}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\"\n  }\n}"
      },
      "name": "Gemini API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1050,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $node[\"Gemini API Call\"].json.candidates[0].content.parts[0].text;\ntry {\n  return JSON.parse(response);\n} catch (e) {\n  return { \n    score: 1, \n    tier: 'cold', \n    summary: 'AI response was not valid JSON', \n    reply: 'Thank you for your inquiry. We have received your message.' \n  };\n}"
      },
      "name": "Gemini AI Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Global Config\"].json.SUPABASE_URL}}/rest/v1/leads",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{$node[\"Intent Router\"].json.name}}"
            },
            {
              "name": "email",
              "value": "={{$node[\"Intent Router\"].json.email}}"
            },
            {
              "name": "phone",
              "value": "={{$node[\"Intent Router\"].json.phone}}"
            },
            {
              "name": "session_type",
              "value": "={{$node[\"Intent Router\"].json.session_type}}"
            },
            {
              "name": "budget",
              "value": "={{$node[\"Intent Router\"].json.budget}}"
            },
            {
              "name": "preferred_date",
              "value": "={{$node[\"Intent Router\"].json.preferred_date}}"
            },
            {
              "name": "message",
              "value": "={{$node[\"Intent Router\"].json.message}}"
            },
            {
              "name": "ai_score",
              "value": "={{$json.score}}"
            },
            {
              "name": "ai_tier",
              "value": "={{$json.tier}}"
            },
            {
              "name": "ai_summary",
              "value": "={{$json.summary}}"
            },
            {
              "name": "ai_reply",
              "value": "={{$json.reply}}"
            },
            {
              "name": "submitted_at",
              "value": "={{$node[\"Intent Router\"].json.submitted_at}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Supabase Insert Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1350,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Gemini AI Scoring\"].json.tier}}",
              "value2": "hot"
            }
          ]
        }
      },
      "name": "Is Hot Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1550,
        100
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{$node[\"Global Config\"].json.SMTP_USER}}",
        "toEmail": "={{$node[\"Global Config\"].json.OWNER_EMAIL}}",
        "subject": "URGENT: New Hot Lead - {{$node[\"Intent Router\"].json.name}}",
        "text": "A new hot lead has arrived!\n\nName: {{$node[\"Intent Router\"].json.name}}\nSession: {{$node[\"Intent Router\"].json.session_type}}\nBudget: ₦{{$node[\"Intent Router\"].json.budget}}\nScore: {{$node[\"Gemini AI Scoring\"].json.score}}\nSummary: {{$node[\"Gemini AI Scoring\"].json.summary}}\n\nCheck the admin panel for details."
      },
      "name": "Owner Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1750,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{$node[\"Global Config\"].json.SMTP_USER}}",
        "toEmail": "={{$node[\"Intent Router\"].json.email}}",
        "subject": "Thank you for your inquiry - Lumière Studio",
        "text": "={{$node[\"Gemini AI Scoring\"].json.reply}}"
      },
      "name": "Client Auto Reply",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1950,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v17.0/{{$node[\"Global Config\"].json.WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{$node[\\\"Global Config\\\"].json.OWNER_PHONE}}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"URGENT: New Hot Lead from {{$node[\\\"Intent Router\\\"].json.name}} (₦{{$node[\\\"Intent Router\\\"].json.budget}}). Check your email for full details.\"\n  }\n}",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Global Config\"].json.WHATSAPP_ACCESS_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "name": "WhatsApp Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1750,
        200
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Global Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Config": {
      "main": [
        [
          {
            "node": "Security Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Gate": {
      "main": [
        [
          {
            "node": "Is Unauthorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Unauthorized?": {
      "main": [
        [],
        [
          {
            "node": "Intent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Router": {
      "main": [
        [
          {
            "node": "Gemini API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API Call": {
      "main": [
        [
          {
            "node": "Gemini AI Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI Scoring": {
      "main": [
        [
          {
            "node": "Supabase Insert Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert Lead": {
      "main": [
        [
          {
            "node": "Is Hot Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Hot Lead?": {
      "main": [
        [
          {
            "node": "Owner Email Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Client Auto Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Owner Email Alert": {
      "main": [
        [
          {
            "node": "Client Auto Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Notification": {
      "main": [
        []
      ]
    }
  }
}
